@{
    Layout = "~/Views/Shared/_NavBarLayout.cshtml";
    ViewBag.Title = "EventProfile";
}
@using Domain;
@model Application.ViewModels.EventProfileViewModel

<link rel="stylesheet" href="/css/event-profile.css">

<div class="top-content">
    <div class="container">
        <div class="top">
            <p class="title-event">@Model.Title</p>
            <div class="date-time">
                <p class="date-time-text-start">beggining of this event: @Model.StartTime.Date|@Model.StartTime.Hour:@Model.StartTime.Minute</p>
                <p class="date-time-text-end">ending of this event: @Model.EndTime.Date|@Model.EndTime.Hour:@Model.EndTime.Minute </p>
            </div>
        </div>
    </div>
</div>

<div class="chatroom">
    <div class="container">
        <p><a class="chatroom-link" href="#">enter chatroom</a></p>
    </div>
</div>

<div class="photo-content">
    <div class="container">
        <ul class="nav-photos">
            @{
                if (Model.AttachedFiles.Count() != 0)
                {
                   @foreach (var photo in Model.AttachedFiles)
                   {
                        <li class="nav-photo"><img src="@($"/images/events-files/{photo}")"/></li>
                   }      
                }
                else
                {
                    <li style="font-size:25px">There are no attached files ;(</li>
                }
            }
        </ul>
    </div>
</div>

<div class="description">
    <div class="container">
        <p class="title-description">About event</p>
        <p class="text-description">@Model.Description</p>
    </div>
</div>

<div class="topics">
    <div class="container">
        <ul class="nav-topics">
            @{
                if (Model.Topics.Count() != 0)
                {
                    @foreach (var interest in Model.Topics)
                    {
                        <li class="nav-topic">#@interest.Name</li>
                    }
                }
                else
                {
                    <li style="font-size:25px">There are no topics ;(</li>
                }
            }
        </ul>
    </div>
</div>

<div class="participants-name">
    <div class="container">
        <p>Participants</p>
    </div>
</div>

<div class="participants">
    <div class="container">
        <ul class="nav-participants">
            @{
                if (Model.Memberships.Count() != 0)
                {
                    @foreach (var member in Model.Memberships)
                    {
                            <li class="nav-participant">
                                <img src="../../images/events-logos/тут має бути аватар юзера.png" />
                                <p>Тут має бути ім'я юзера</p>
                            </li>
                    }
                }
                else
                {
                    <li style="font-size:25px">There are no memberships ;(</li>
                }
            }

        </ul>
    </div>
</div>
